stages:
  - compile
  # - test
  - publish

compile:
  stage: compile
  artifacts:
    paths:
    - build
    - node_modules
  script:
    - npm install
    - npm run compile
  only:
    - tags

# need replicaset
# test:
#   services:
#     - mongo:3.6
#   script:
#     - npm test
#   only:
#     - tags

release:
  stage: publish
  script:
    - npm publish
  only:
    - /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$/
